.step-3 {
  max-height: 80vh;
  overflow-y: scroll;
  padding-inline: 2rem;
  padding-top: 2rem;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
/* Hide scrollbar for Chrome, Safari and Opera */
.step-3::-webkit-scrollbar {
  display: none;
}

.step-3 .step-heading {
  font-size: var(--font-size-7);
}

.step-3 .step-desc {
  margin-bottom: 2rem;
  margin-top: 4px;
}

.step-action {
  padding-bottom: 1rem;
  display: flex;
  justify-content: flex-end;
  padding-top: 2rem;
}

.step-action button {
  border: none;
  outline: none;
  color: var(--white-color);
  font-weight: var(--font-weight-600);
  font-size: var(--font-size-8);
  max-width: 90vw;
  background-color: var(--dark-purple-color);
  border-radius: 10px;
  width: 300px;
  height: 3rem;
  cursor: pointer;
  transition: 250ms ease-out;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  flex-grow: 0;
}

.step-action button:hover {
  background-color: var(--light-purple-color);
  color: var(--white-color);
}

.step-action button:disabled {
  color: rgba(var(--white-rgb), 0.3);
}

.step-action button:disabled img {
  opacity: 0;
}

.step-action button:disabled:hover {
  background-color: var(--dark-purple-color);
  color: rgba(var(--white-rgb), 0.1);
}

.step-3__holder {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.review-holder {
  border: 1px solid #dcdcdc;
  border-radius: 10px;
  padding: 1rem;
}

.review-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.review-header h5 {
  font-size: var(--font-size-8);
  font-weight: var(--font-weight-600);
}

.review-header button {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  font-weight: var(--font-weight-600);
  color: var(--blue-color);
}

.review-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.review-body > p {
  font-weight: var(--font-weight-600);
  color: var(--gray-color);
}

.review-items {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.review-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.review-item p {
  font-weight: var(--font-weight-500);
}

.review-item p:first-of-type {
  color: var(--gray-color);
}

.total-item p {
  font-weight: var(--font-weight-700);
}

.payment-card-number {
  display: flex;
  align-items: center;
  gap: 4px;
}

.payment-card-number img {
  width: 3rem;
  object-fit: contain;
}

.payment-card-number p {
  font-weight: var(--font-weight-500);
}

.payment-card-number p span {
  color: var(--gray-color);
}

.lds-ring {
  display: flex;
  position: relative;
  width: 80px;
  height: 80px;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid var(--black-color);
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: var(--black-color) transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 768px) {
  .step-3 {
    min-height: 90vh;
    padding-inline: 1rem;
    padding-bottom: 88px;
  }
  .step-action {
    position: fixed;
    bottom: 0vh;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 3;
    box-shadow: 0px -5px 5px rgba(0, 0, 0, 0.05);
    background-color: var(--white-color);
    justify-content: center;
    padding-top: 1rem;
  }

  .step-action button {
    background-color: var(--dark-purple-color);
    color: var(--white-color);
  }
}
