.flight-form {
  background: var(--white-primary);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin: 0 auto;
  width: 1000px;
  max-width: 90vw;
  position: relative;
  transform: translateY(-30px);
}

.form-header {
  display: flex;
  align-items: center;
  flex-basis: 0;
  position: relative;
}

.form-title {
  position: relative;
  z-index: 2;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  height: 55px;
  cursor: pointer;
  background-color: transparent;
}

.active {
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 200px;
  background-color: var(--purple-primary);
  transition: 250ms ease-out;
}

.form-title img {
  width: 32px;
  height: 32px;
  object-fit: contain;
  pointer-events: none;
  transition: 250ms ease-out;
}

.form-title h3 {
  font-size: 1rem;
  font-weight: 500;
  color: #000;
  pointer-events: none;
  transition: 500ms ease-out;
}

form.form-content {
  display: flex;
  gap: 12px;
  padding: 0 12px 12px 12px;
  flex-basis: 0;
}

.from-to__holder {
  display: flex;
  position: relative;
  align-items: center;
  gap: 12px;
  flex: 1;
}

.from-to__holder .form-group {
  width: 200px;
}

.date-passengers__holder {
  display: flex;
  gap: 12px;
}

.swap-holder {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white-primary);
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.swap-holder img {
  width: 20px;
  height: 20px;
}

.form-first-row {
  position: relative;
}

.form-group {
  position: relative;
  background-color: rgb(225, 225, 225);
  border-radius: 5px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.label-holder {
  position: absolute;
  top: 50%;
  left: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
  transform: translateY(-50%);
  pointer-events: none;
  transition: 500ms ease-out;
}

.label-holder img {
  width: 21px;
  height: 21px;
}

.label-holder label {
  font-weight: 600;
  font-size: 1.25rem;
  color: #7c7484;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
}

input {
  background-color: transparent;
  border: none;
  outline: none;
  height: 57px;
  border-radius: 5px;
  padding: 0 16px;
  width: 100%;
  font-size: 1rem;
  font-weight: 600;
}

::placeholder {
  opacity: 0;
}

/* input[type="date"] {
  color: transparent;
} */

input:focus + .label-holder,
input:not(:placeholder-shown) + .label-holder {
  top: 12px;
  transform: translateY(-50%);
}

input:focus + .label-holder label,
input:not(:placeholder-shown) + .label-holder label {
  font-size: 12px;
}

input:focus + .label-holder img,
input:not(:placeholder-shown) + .label-holder img {
  width: 12px;
  height: 12px;
}

.passengers-group {
  max-width: 106px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.flight-form button[type="submit"] {
  background-color: var(--blue-primary);
  color: var(--white-primary);
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  height: 57px;
  min-width: 136px;
  font-size: 1rem;
  font-weight: 600;
  flex-grow: 1;
  max-width: 320px;
}

.second-type-of-form > button {
  width: 100%;
}

.autocomplete-list {
  position: absolute;
  bottom: -4px;
  left: 0;
  transform: translateY(100%);
  display: flex;
  flex-direction: column;
  list-style: none;
  overflow: scroll;
  height: 200px;
  border-radius: 4px;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.autocomplete-list::-webkit-scrollbar {
  display: none;
}
.autocomplete-item {
  width: 100%;
  padding: 8px;
  background-color: var(--white-secondary);
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: 250ms ease-out;
}

.autocomplete-item:hover {
  background-color: rgb(225, 225, 225);
}

input:not(:focus) + .label-holder + .autocomplete-list {
  opacity: 0;
  visibility: hidden;
}

@media (max-width: 968px) {
  form.form-content {
    flex-direction: column;
  }

  .from-to__holder div {
    flex-grow: 1;
  }

  .passengers-group {
    max-width: 140px;
  }

  .flight-form button[type="submit"] {
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .form-title {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
  }

  .form-title img {
    width: 20px;
    height: 20px;
  }

  .form-title h3 {
    font-size: 0.75rem;
  }
}
