.flight-form {
  background: var(--white-color);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin: 0 auto;
  width: 800px;
  max-width: 90vw;
  position: relative;
  transform: translateY(-30px);
  z-index: 10;
}

.form-header {
  display: flex;
  align-items: center;
  flex-basis: 0;
  position: relative;
}

.form-title {
  position: relative;
  z-index: 2;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  height: 55px;
  cursor: pointer;
  background-color: transparent;
  transition: 500ms ease-out;
}

.form-title:hover {
  background-color: rgba(var(--dark-purple-rgb), 0.1);
}

.form-title:first-of-type {
  border-radius: 10px 0 10px 0;
}

.form-title:nth-of-type(2) {
  border-radius: 0px 0px 10px 10px;
}

.form-title:nth-of-type(3) {
  border-radius: 0px 10px 0px 10px;
}

.active {
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 200px;
  background-color: var(--dark-purple-color);
  transition: 250ms ease-out;
}

.form-title img {
  width: 32px;
  height: 32px;
  object-fit: contain;
  pointer-events: none;
  transition: 250ms ease-out;
}

.form-title h3 {
  font-size: var(--font-size-8);
  font-weight: var(--font-weight-500);
  color: var(--black-color);
  pointer-events: none;
  text-align: center;
  transition: 500ms ease-out;
}

form.form-content {
  display: flex;
  gap: 12px;
  padding: 0 12px 12px 12px;
  flex-basis: 0;
}

.from-to__holder {
  display: flex;
  position: relative;
  align-items: center;
  gap: 12px;
  flex: 1;
}

.from-to__holder .form-group {
  width: 200px;
}

.date-passengers__holder {
  display: flex;
  gap: 12px;
}

.swap-holder {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid var(--black-color);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white-color);
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.swap-holder img {
  width: 20px;
  height: 20px;
}

.form-first-row {
  position: relative;
}

.second-type-of-form > button {
  width: 100%;
}

.autocomplete-list {
  position: absolute;
  bottom: -4px;
  left: 0;
  transform: translateY(100%);
  display: flex;
  flex-direction: column;
  list-style: none;
  overflow: scroll;
  border-radius: 4px;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  width: 100%;
  z-index: 11;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
}

.autocomplete-list::-webkit-scrollbar {
  display: none;
}
.autocomplete-item {
  width: 100%;
  padding: 8px;
  background-color: var(--light-color);
  font-size: var(--font-size-8);
  font-weight: var(--font-weight-500);
  cursor: pointer;
  transition: 250ms ease-out;
}

.autocomplete-item:hover {
  background-color: var(--white-color);
}

.form-group input:not(:focus) + .label-holder + .autocomplete-list {
  opacity: 0;
  visibility: hidden;
}

@media (max-width: 968px) {
  form.form-content {
    flex-direction: column;
  }

  .from-to__holder div {
    flex-grow: 1;
  }

  .passengers-group {
    max-width: 140px;
  }

  .flight-form button[type="submit"] {
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .form-title {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
  }

  .form-title img {
    width: 20px;
    height: 20px;
  }

  .form-title h3 {
    font-size: var(--font-size-10);
  }

  .from-to__holder {
    flex-direction: column;
  }

  .from-to__holder .form-group {
    width: 100%;
  }
}

@media (max-width: 450px) {
  .form-title h3 {
    width: 90%;
    margin: 0 auto;
    font-size: var(--font-size-10);
  }
}
