.outer-modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(var(--black-rgb), 0.9);
  z-index: 103;
}

.inner-modal {
  position: fixed;
  top: 0%;
  left: 50%;
  z-index: 104;
  transform: translate(-50%, 0%);
  max-width: 100%;
  width: 800px;
  background-color: var(--white-color);
  border-radius: 0 0 20px 20px;
}

.modal-header {
  background-color: var(--black-color);
  color: var(--white-color);
  text-align: center;
  position: relative;
  padding: 0 8px;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-header h4 {
  margin-bottom: 0;
}

.modal-header button {
  position: absolute;
  top: 50%;
  left: 32px;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  outline: none;
  font-weight: var(--font-weight-500);
  font-size: var(--font-size-9);
  color: var(--gray-color);
  cursor: pointer;
}

@media (max-width: 768px) {
  .modal-header button {
    left: 2rem;
  }
}
