.landing-content {
  background: linear-gradient(99.55deg, #110619 9.63%, rgba(17, 6, 25, 0) 193.15%),
    url("/src/assets/background.jpg") no-repeat;
  background-position: 50% 20%;
  background-size: cover;
  height: 75vh;
}

.landing-content div {
  max-width: 90vw;
  width: 1000px;
  margin: 0 auto;
}

.landing-content div h3 {
  color: var(--white-color);
  padding-top: 110px;
  max-width: 100%;
}

@media (max-width: 768px) {
  .landing-content {
    height: auto;
    min-height: 50vh;
  }
}
