.outer-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 103;
}

.inner-modal {
  background-color: var(--white-primary);
  position: fixed;
  z-index: 104;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  border-radius: 5px;
  width: 700px;
  max-width: 90vw;
}

.res-modal div {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
}

.res-modal div img {
  width: 4rem;
}

.res-modal h4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  padding-bottom: 1rem;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 1rem;
  font-size: 1rem;
}

.res-modal h4 span {
  font-weight: 600;
  text-align: center;
  font-size: 1.25rem;
}

.res-modal h5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 400;
  font-size: 1rem;
  margin-bottom: 1rem;
  gap: 4px;
}

.res-modal h5 span {
  font-weight: 600;
  font-size: 1rem;
}

.res-modal button {
  background-color: transparent;
  color: var(--purple-primary);
  border: 2px solid var(--purple-primary);
  align-self: center;
  width: 100%;
}

.res-modal button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.non-existing-reservation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}

.non-existing-reservation div {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.non-existing-reservation img {
  width: 4rem;
}

.non-existing-reservation button {
  padding: 0 6rem;
  background-color: transparent;
  color: var(--purple-primary);
  border: 2px solid var(--purple-primary);
  align-self: center;
}

.non-existing-reservation button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.lds-ring {
  display: flex;
  position: relative;
  width: 80px;
  height: 80px;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #000;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #000 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 768px) {
  .inner-modal {
    padding: 2rem 1rem;
  }
  .non-existing-reservation img {
    width: 3rem;
  }

  .non-existing-reservation h4 {
    font-size: 1rem;
  }

  .non-existing-reservation button {
    width: 100%;
  }

  .res-modal h5 {
    font-size: 0.875rem;
  }
}
