.outer-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 103;
}

.inner-modal {
  background-color: var(--white-color);
  position: fixed;
  z-index: 104;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  border-radius: 5px;
  width: 400px;
  max-width: 90vw;
}

.res-modal {
  display: flex;
  flex-direction: column;
}

.res-modal div {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
}

.res-modal div img {
  width: 3rem;
}

.res-modal h4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  padding-bottom: 1rem;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 1rem;
  font-size: var(--font-size-8);
}

.res-modal h4 span {
  text-align: center;
  font-weight: var(--font-weight-600);
  font-size: var(--font-size-7);
}

.res-modal h4 span img,
.res-modal p span img {
  width: 16px;
  cursor: pointer;
}

.res-modal p {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-8);
  margin-bottom: 1rem;
  gap: 4px;
}

.res-modal p span {
  display: flex;
  align-items: center;
  gap: 4px;
  font-weight: var(--font-weight-600);
  font-size: var(--font-size-8);
}

.inner-modal button {
  background-color: transparent;
  color: var(--dark-purple-color);
  border: 2px solid var(--dark-purple-color);
  align-self: center;
  height: 45px;
  font-weight: var(--font-weight-500);
}

.inner-modal button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.non-existing-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}

.non-existing-content div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 16px;
  width: 100%;
}

.non-existing-content img {
  width: 4rem;
}

.non-existing-content p {
  font-weight: var(--font-weight-500);
  line-height: 20px;
  font-size: var(--font-size-8);
}

.lds-ring {
  display: flex;
  position: relative;
  width: 80px;
  height: 80px;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid var(--black-color);
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: var(--black-color) transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 768px) {
  .inner-modal {
    padding: 2rem 1rem;
  }

  .res-modal button {
    width: 100%;
  }

  .res-modal p {
    font-size: var(--font-size-9);
  }

  .non-existing-content img {
    width: 3rem;
  }

  .inner-modal button {
    width: 100%;
  }
}
