.contact-form {
  width: 900px;
  max-width: 90vw;
  margin: 0 auto;
}

.contact-left > h4 {
  text-align: center;
  margin-bottom: 32px;
  max-width: 90vw;
  width: 900px;
  margin: 0 auto 32px auto;
}

.contact-form {
  display: grid;
  grid-template-areas:
    "a b"
    "c d"
    "e e"
    "f g";
  gap: 1rem;
}

.name-control {
  grid-area: a;
}

.surname-control {
  grid-area: b;
}

.email-control {
  grid-area: c;
}

.phone-control {
  grid-area: d;
}

.message-control {
  grid-area: e;
  height: fit-content;
}

.submit-control {
  grid-area: f;
}

.submit-control button {
  width: 100%;
}

.contact-social {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  height: 100%;
}

.contact-social a {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--white-primary);
  box-shadow: 0px 6px 12px rgba(24, 39, 75, 0.22);
  width: 24px;
  height: 24px;
}

.contact-social a img {
  width: 16px;
  height: 16px;
}

@media (max-width: 768px) {
  .contact-form {
    display: flex;
    flex-direction: column;
  }

  .contact-social {
    justify-content: center;
  }
}
