.header {
  position: relative;
  height: 10vh;
  /* background-color: var(--dark-purple-color); */
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  z-index: 99;
  top: 0;
  transition: 250ms ease-out;
}

header.header-dark {
  background-color: var(--dark-purple-color);
}

.header nav {
  width: 1000px;
  max-width: 90vw;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.header nav a {
  color: var(--white-color);
  text-decoration: none;
  transition: 250ms ease-out;
}

.header nav a:hover {
  color: var(--pink-color);
}

.header nav > a {
  font-weight: var(--font-weight-500);
  font-size: var(--font-size-7);
}

.header nav ul {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 40px;
}

.header nav ul li a {
  font-weight: var(--font-weight-500);
  font-size: var(--font-size-8);
}

.burger {
  display: none;
}

@media (max-width: 768px) {
  .header nav {
    position: relative;
  }
  .header nav ul {
    position: fixed;
    top: 10vh;
    right: -5vw;
    left: -5vw;
    height: 90vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 101;
    transform: translateX(100%);
    transition: 250ms ease-out;
  }

  .header nav ul.toggled {
    transform: translateX(0);
  }
  .header nav ul li a {
    font-weight: var(--font-weight-700);
    font-size: var(--font-size-4);
  }
  .burger {
    display: flex;
    cursor: pointer;
    flex-direction: column;
    gap: 6px;
    position: fixed;
    z-index: 102;
    right: 5vw;
  }

  .burger .line {
    width: 24px;
    height: 1.5px;
    background-color: var(--white-color);
    transition: 250ms ease-out;
  }

  .burger.toggled .line {
    height: 2px;
  }

  .burger.toggled .line:first-of-type {
    transform: rotate(-45deg) translate(-5px, 6px) scale(1.5);
  }

  .burger.toggled .line:nth-of-type(2) {
    opacity: 0;
  }

  .burger.toggled .line:last-of-type {
    transform: rotate(45deg) translate(-5px, -6px) scale(1.5);
  }

  .backdrop {
    width: 100%;
    position: fixed;
    height: 100vh;
    background-color: var(--dark-purple-color);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    transform: translateX(100%);
    transition: 250ms ease-out;
  }

  .backdrop.toggled {
    transform: translateX(0);
  }
}
