.achievement-section {
  max-width: 90vw;
  width: 1000px;
  margin: 0 auto;
  position: relative;
  z-index: 3;
}

.achievement-section h4 {
  color: var(--white-color);
  margin-bottom: 1rem;
}

.achievement-list {
  display: flex;
  flex-direction: column;
  list-style: none;
}
