.outer-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(var(--black-rgb), 0.9);
  z-index: 103;
}

.reservation-modal {
  background-color: var(--white-color);
  position: fixed;
  z-index: 104;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  border-radius: 5px;
  max-width: 90vw;
  min-width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lds-ring {
  display: flex;
  position: relative;
  width: 80px;
  height: 80px;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid var(--black-color);
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: var(--black-color) transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.reservation-response {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.reservation-response div {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  text-align: center;
}

.reservation-response div img {
  width: 3rem;
  height: 3rem;
}

.reservation-response div p {
  font-weight: var(--font-weight-500);
  font-size: var(--font-size-8);
}

.reservation-response div p span {
  font-weight: var(--font-weight-600);
}

.modal-button {
  margin-top: 16px;
  background-color: transparent;
  color: var(--black-color);
  border: 2px solid var(--dark-purple-color);
  align-self: center;
  width: 250px;
  height: 45px;
}

.modal-button:hover {
  background-color: rgba(var(--black-rgb), 0.1);
}

@media (max-width: 768px) {
  .reservation-modal {
    width: 90vw;
  }

  .reservation-response {
    text-align: center;
  }

  .reservation-response div p {
    font-size: var(--font-size-9);
    line-height: 20px;
  }

  .reservation-response div p span {
    font-size: var(--font-size-8);
  }

  .modal-button {
    width: 100%;
    height: 45px;
  }
}
