footer {
  margin-top: 100px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
}

footer.footer-dark {
  background-color: var(--purple-primary);
}

footer.footer-dark > p {
  color: var(--white-primary);
}

footer.footer-dark h4 {
  color: var(--white-primary);
}

footer.footer-dark > a {
  background-color: var(--white-primary);
  color: #000;
}

footer.footer-dark > a:hover {
  background-color: var(--purple-secondary);
  color: var(--white-primary);
}

footer > p {
  font-size: 0.875rem;
  max-width: 90vw;
  margin: 8px auto 0 auto;
}

footer > a {
  text-decoration: none;
  font-size: 0.875rem;
  border-radius: 30px;
  background-color: var(--purple-primary);
  color: var(--white-primary);
  padding: 14px 58px;
  cursor: pointer;
  margin-top: 28px;
  border: none;
  outline: none;
  transition: 250ms ease-out;
}

footer > a:hover {
  background-color: var(--purple-secondary);
}

.footer-social {
  margin-top: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.footer-social a {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--white-primary);
  box-shadow: 0px 6px 12px rgba(24, 39, 75, 0.22);
  width: 24px;
  height: 24px;
}

.footer-social a img {
  width: 16px;
  height: 16px;
}

.footer-bottom {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 140px;
  margin-top: 70px;
}

.footer-bottom > img {
  position: absolute;
  width: 200%;
  margin: 0;
  padding: 0;
  bottom: -5px;
  left: 0;
  height: 140px;
}

.copyright {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  height: 100%;
  padding: 1rem 2rem;
}

.copyright p {
  color: var(--white-primary);
  font-size: 1rem;
  font-weight: 300;
}

.copyright a {
  border-radius: 50%;
  border: 1px solid var(--white-primary);
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 250ms ease-out;
}

.copyright a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
