.step-2 {
  max-height: 80vh;
  overflow-y: scroll;
  padding-inline: 2rem;
  padding-top: 2rem;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.step-2::-webkit-scrollbar {
  display: none;
}

.step-2 .step-heading {
  font-size: var(--font-size-7);
}

.step-2 .step-desc {
  margin-bottom: 0rem;
  margin-top: 4px;
}

.step-action {
  padding: 2rem 0 1rem 0;
  display: flex;
  justify-content: flex-end;
}

.step-action button {
  border: none;
  outline: none;
  color: var(--white-color);
  font-weight: var(--font-weight-600);
  font-size: var(--font-size-8);
  max-width: 90vw;
  background-color: var(--dark-purple-color);
  border-radius: 10px;
  width: 300px;
  height: 3rem;
  cursor: pointer;
  transition: 250ms ease-out;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  flex-grow: 0;
}

.step-action button:hover {
  background-color: var(--light-purple-color);
  color: var(--white-color);
}

.step-action button:disabled {
  background-color: rgba(var(--white-rgb), 0.5);
}

.step-action button:disabled:hover {
  background-color: rgba(var(--white-rgb), 0.5);
  color: var(--black-color);
}

.form-holder {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 18px;
  max-width: 100%;
}

.card-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.radio-group {
  display: flex;
  align-items: center;
  gap: 12px;
}

.radio-group input {
  transform: scale(1.5) translateX(25%);
  position: relative;
}

.radio-group label {
  font-weight: var(--font-weight-500);
  font-size: var(--font-size-9);
}

.card-images {
  display: flex;
  gap: 4px;
}

.card-images img {
  width: 3rem;
  object-fit: contain;
}

.two-form-controls {
  display: flex;
  gap: 16px;
}

@media (max-width: 768px) {
  .step-2 {
    min-height: 90vh;
    padding-bottom: 88px;
  }

  .step-action {
    position: fixed;
    bottom: 0vh;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 3;
    box-shadow: 0px -5px 5px rgba(0, 0, 0, 0.05);
    justify-content: center;
    background-color: var(--white-color);
    padding-top: 1rem;
  }

  .step-action button {
    background-color: var(--dark-purple-color);
    color: var(--white-color);
  }

  .two-form-controls {
    flex-direction: column;
  }
}
