.item-holder {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.item-header {
  background-color: var(--white-primary);
  padding: 0 1rem;
  transition: 250ms ease-out;
}

.header-holder > img {
  transition: 250ms ease-out;
}

.item-holder.item-active .header-holder > img {
  transform: rotate(180deg);
}

.item-header:hover,
.item-holder.item-active .item-header {
  background-color: rgba(255, 255, 255, 0.9);
}

.header-holder {
  padding: 9px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--white-secondary);
}

.item-holder.item-active .header-holder {
  border-bottom: none;
}

.item-content {
  color: var(--white-primary);
  padding: 0 1rem;
  background-color: var(--purple-secondary);
  display: flex;
  flex-direction: column;
  gap: 12px;
  display: none;
}

.content-div:first-of-type {
  padding-top: 9px;
}

.content-div:last-of-type {
  padding-bottom: 9px;
}

.item-holder.item-active .item-content {
  position: relative;
  transition: 500ms ease-out;
  display: flex;
}

@keyframes opacityDelay {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .header-holder h4 {
    font-size: 1rem;
  }
}
