.item-holder {
  display: flex;
  flex-direction: column;
}

.item-header {
  cursor: pointer;
  background-color: var(--white-color);
  padding: 0 1rem;
  transition: 250ms ease-out;
}

.header-holder > img {
  transition: 250ms ease-out;
}

.item-holder.item-active .header-holder > img {
  transform: rotate(180deg);
}

.item-header:hover,
.item-holder.item-active .item-header {
  background-color: rgba(var(--white-rgb), 0.9);
}

.header-holder {
  padding: 9px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--light-color);
}

.header-holder .item-title {
  font-size: var(--font-size-8);
}

.item-holder.item-active .header-holder {
  border-bottom: none;
}

.item-content {
  color: var(--white-color);
  padding: 0 1rem;
  background-color: var(--dark-purple-color);
  /* border-left: 1px solid var(--light-color);
  border-right: 1px solid var(--light-color); */
  box-shadow: 0px 5px 15px rgba(var(--white-rgb), 0.05);
  display: flex;
  flex-direction: column;
  gap: 12px;
  display: none;
}

.content-div:first-of-type {
  padding-top: 9px;
}

.content-div:last-of-type {
  padding-bottom: 9px;
}

.subcontent-header {
  font-size: var(--font-size-7);
  font-weight: var(--font-weight-600);
}

.item-holder.item-active .item-content {
  position: relative;
  transition: 500ms ease-out;
  display: flex;
}

@keyframes opacityDelay {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
