.checkout {
  position: absolute;
  z-index: 101;
  display: flex;
  justify-content: center;
  border: 3px solid green;
  width: fit-content;
  left: 50%;
  transform: translateX(-50%);
}

.reservation-form {
  background-color: rgba(255, 255, 255, 0.6);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* .form-group {
  position: relative;
  background-color: var(--white-secondary);
  border-radius: 5px;
  width: 100%;
  display: flex;
  align-items: center;
}

.label-holder {
  position: absolute;
  top: 50%;
  left: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
  transform: translateY(-50%);
  pointer-events: none;
  transition: 500ms ease-out;
}

textarea + .label-holder {
  top: 28px;
}

.label-holder label {
  font-weight: 600;
  font-size: 1rem;
  color: #7c7484;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
}

input,
textarea {
  background-color: transparent;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 0 16px;
  width: 100%;
  font-size: 1rem;
  font-weight: 600;
  transition: 250ms ease-out;
}

.invalid-input {
  background-color: rgba(255, 0, 0, 0.2);
}

input {
  height: 57px;
}

textarea {
  padding: 28px 16px;
}

::placeholder {
  opacity: 0;
}

input:focus + .label-holder,
input:not(:placeholder-shown) + .label-holder,
textarea:focus + .label-holder,
textarea:not(:placeholder-shown) + .label-holder {
  top: 10px;
  transform: translateY(-50%);
}

input:focus + .label-holder label,
textarea:focus + .label-holder label,
input:not(:placeholder-shown) + .label-holder label,
textarea:not(:placeholder-shown) + .label-holder label {
  font-size: 12px;
}

input:focus + .label-holder img,
input:not(:placeholder-shown) + .label-holder img {
  width: 12px;
  height: 12px;
} */
