@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Jost", sans-serif; */
  /* font-family: "Roboto", sans-serif; */
  font-family: "Montserrat", sans-serif;
}

:root {
  --purple-primary: #110619;
  --purple-secondary: #381b34;
  --purple-third: #9a7a96;
  --white-primary: #fcf8ff;
  --white-secondary: #f1f1e6;
  --label-color: #4c494e;
}

h1 {
  font-size: 2.625rem;
  font-weight: 600;
}

h2 {
  font-size: 1.75rem;
  font-weight: 500;
}

h3 {
  font-size: 2.625rem;
  font-weight: 600;
}

h4 {
  font-size: 1.125rem;
  font-weight: 500;
}

p {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 22px;
}

.form-title.activated-title h3 {
  color: var(--white-primary);
}

.form-title.activated-title img:first-of-type {
  opacity: 0;
  display: none;
}

.form-title.activated-title img:last-of-type {
  opacity: 1;
  display: block;
}

.form-title img:first-of-type {
  opacity: 1;
  display: block;
}

.form-title img:last-of-type {
  opacity: 0;
  display: none;
}

body,
html {
  overflow-x: hidden;
}

/* should not be used because it's buggy with react router */
/* html {
  scroll-behavior: smooth;
} */

@media (max-width: 500px) {
  h1,
  h3 {
    font-size: 1.75rem;
  }

  h2 {
    font-size: 1.25rem;
  }
}
