.reservation-content {
  padding-top: 120px;
  position: relative;
  background: var(--dark-purple-color);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  min-height: 100vh;
}

.padding-top {
  padding-top: 220px;
}

.reservation-content .circle {
  position: absolute;
  width: 550px;
  height: 550px;
  border-radius: 50%;
}

.reservation-content .circle.upper-circle {
  background: linear-gradient(154.16deg, var(--dark-purple-color) 16.31%, var(--white-color) 1097%);
  top: 100%;
  left: 0;
  transform: translate(-50%, -50%);
}

.reservation-content .circle.bottom-circle {
  background: linear-gradient(216.65deg, var(--dark-purple-color) 21.33%, var(--white-color) 800.03%);
  bottom: 0;
  right: 0;
  transform: translate(50%, 0%);
}

@media (max-width: 768px) {
  .reservation-content .circle {
    width: 400px;
    height: 400px;
  }
  .reservation-content {
    padding-top: 100px;
  }

  .padding-top {
    padding-top: 120px;
  }
}
